[user]
	email = foolishremew@gmail.com
	name = remew

[ghq]
    root = ~/workspace

[alias]
    branches = branch -a
    tags = tag -a
    stashes = stash list
    current-branch = rev-parse --abbrev-ref HEAD
    uncommit = reset HEAD~1

